<div class="container-fluid ">
<h1 class="heading">STUDENT REGISTRATION</h1>
<form #userForm="ngForm" >
  {{userForm.value | json}}
  <div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-control" name="studentsName" ngModel>
  </div>
  <div class="form-group">
    <label>Class:</label>
    <input type="text" class="form-control" name="className" ngModel>
  </div>
  <div class="form-group">
    <label>School Name:</label>
    <input type="text" class="form-control" name="schoolName" ngModel>
  </div>
</form>
</div>
<button  type="button" class="btn btn-primary butt">submit</button>

<router-outlet></router-outlet>